BOT_TOKEN=tg_token
ADMIN_ID=123456789
LOLZ_TOKEN=lolz_token
CH_HOST=localhost
CH_USER=default
CH_PASSWORD=
CH_DATABASE=default
CRAWLER_CONCURRENCY=64
CRAWLER_BATCH_SIZE=10000
CRAWLER_UPDATE_INTERVAL=15
THREADS_PER_PAGE=50
POSTS_PER_PAGE=100
USERS_PER_PAGE=50
CHATBOX_POLL_INTERVAL=30
COMMENT_CONCURRENCY=8
RATE_MIN_DELAY=0.05
RATE_MAX_DELAY=60.0
RATE_BACKOFF_FACTOR=2.0
RATE_RECOVERY_STEP=0.8
CPU_THROTTLE_THRESHOLD=80
CPU_CRITICAL_THRESHOLD=95
RAM_THROTTLE_THRESHOLD=80
THROTTLE_CHECK_INTERVAL=5
THROTTLE_SLEEP_STEP=0.5
SEARCH_PAGE_SIZE=5